{% extends 'index.html' %}
{% block title %}Update{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1>Update Employee</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 mt-4">
        
        <form action="" method="post">
            {% csrf_token %}

            <p>
                <label for="id_first_name">First name:</label>
                <input type="text" name="first_name" class="form-control" value="{{object.first_name}}">
            </p>

            <p>
                <label for="id_last_name">Last name:</label>
                <input type="text" name="last_name" class="form-control" value="{{object.last_name}}">
            </p>

            <p>
                <label for="id_email">Email:</label>
                <input type="email" name="email" class="form-control" maxlength="320" value="{{object.email}}">
            </p>

            <p>
                <label for="id_salary">Salary:</label>
                <input type="number" name="salary" class="form-control" value="{{object.salary}}">
            </p>

            <p>
                <label for="id_date">Date: <small>YYYY-MM-DD</small></label>
                <input type="text" name="date" class="form-control" value="{{object.date_of_joining}}">
            </p>

            <button type="submit" class="btn btn-danger">update</button>
            <a href="{% url 'Home' %}" class="btn btn-success">Back</a>
        </form>

    </div>
</div>
{% endblock %}